@model VideoRentalApps.ViewModels.NewRoleViewModel
@{
    ViewBag.Title = "User Role Type";
}

<h2>@ViewBag.Title.</h2>
<div class="col-lg-6 container">
    @using (Html.BeginForm("NewRole", "Administrators", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new Role.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.RoleName, new { @class = "col-md-4 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-save btn-success" value="New Role" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
