  <!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="@Url.Action("Index","Home")">VRental</a></h1>
         @*Uncomment below if you prefer to use an image logo*@ 
         @*<a href="" class="logo me-auto"><img src="" alt="" class="img-fluid"></a>*@

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="@Url.Action("Index","Home")">Home</a></li>
            <li><a class="nav-link scrollto" href="@Url.Action("New","Rentals")">Rental</a></li>
            <li><a class="nav-link scrollto" href="@Url.Action("Index","Customers")">Customers</a></li>
            <li><a class="nav-link scrollto" href="@Url.Action("Index","Movies")">Movies</a></li>
            @*<li><a class="nav-link scrollto" href="#team">Team</a></li>*@

            @*<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="#about">Get Started</a></li>*@
        </ul>
        @Html.Partial("_LoginPartialTheme")
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->