@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar dropdown-menu-right navbar-nav ms-auto ms-lg-0 ">
            <li class="nav-item nav-justified dropdown">
                <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <div class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action( "Index", "Manage")">Manage Account</a>

                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </li>
        </ul>

      }
 }
            else
            {
            <ul class="navbar-nav ms-2">
                <li class="nav-item mx-0 mx-lg-0 py-2 px-0 px-lg-2 rounded">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </li>

                <li class="nav-item mx-0 mx-lg-0 py-2 px-0 px-lg-2 rounded">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </li>
            </ul>

            }
