<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top navbar-shrink" id="mainNav">
    <div class="container nav-link">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-lg-0">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">VRental</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="@Url.Action("Index", "Home")">
                        Home
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="@Url.Action("New", "Rentals")">
                        Rental
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="@Url.Action("Index", "Customers")">
                        Customer
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="@Url.Action("Index", "Movies")">
                        Movie
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    @Html.Partial("_LoginPartial")
                </li>
            
            </ul>

        </div>
    </div>
</nav>
